@import url("../ressurser/normalize.css");

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "footer";
  grid-gap: 0 20px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.main-header {
  grid-area: header;
  background-image: url("../bilder/background.jpg");
  background-size: cover;
  background-position: top;
  height: 350px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #BAB5C1;
  height: auto;
}

.navbar a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 14pt;
  width: auto;
  padding: 0 30px;
  line-height: 40px;
}

.navbar a:hover {
  color: #000000;
}

.content {
  grid-area: content;
}


footer {
  grid-area: footer;
  background-color: #BAB5C1;
  text-align: center;
  padding: 1rem;
}

footer a{
  color: #ffffff;
}

footer a:hover {
  color: #000000;
}
footer p {
  color: #ffffff;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  margin-top: 250px;
}

h2 {
  text-align: center;
}

.link {
  text-decoration: underline;
  color: #000000;
}

.link:hover {
  font-weight: bold;
}

.button {
  text-decoration: none;
  background-color: #66a3b7;
  color: #ffffff;
  border-style: ridge;
  padding: 5px 10px;
}

.button:hover {
  background-color: #5b92a4;
}

.button:active {
  background-color: #518292;
}
